/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
  box-sizing: border-box;
}
.wrapper {
   width: 960px;
   margin: auto;
}
.table {
   float: left;
   width: 960px;
   position: relative;
   height: 960px;
}
.player_slot_1 {
    width: 642px;
    height: 146px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    border: solid 1px;
    padding: 10px;
}
.player_slot_2 {
    width: 146px;
    height: 642px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    border: solid 1px;
    padding: 10px;
}
.player_slot_3 {
    width: 642px;
    height: 146px;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
    border: solid 1px;
    padding: 10px;
}
.player_slot_4 {
    width: 146px;
    height: 642px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    border: solid 1px;
    padding: 10px;
}
.card {
    float: left;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border: solid 1px #ccc;
    margin: 1px;
}
.card_list {
    width: 100%;
    float: left;
}
.card_group_list {
    width: 100%;
    float: left;
}
.card_group {
    float: left;
    width: 60px;
    height: 60px;
    text-align: center;
    border: solid 1px #45ff2e;
    margin: 1px;
}
.card_storage {
    border: solid 1px;
    padding: 10px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: 270px;
    height: 270px;
}
